* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  --black: #000000;
  --blackb: #262223;
  --red: #f21d2f;
  --blue: #0388a6;
  --yellow: #d9cd23;
  --beige: #f2e9d8;
  --white: #ffffff;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  font-family: "Saira Stencil One", cursive;
  border: 9px solid var(--black);
  background-color: var(--blackb);
}
main {
  display: flex;
  justify-content: center;
  background-color: var(--blackb);
}
img {
  width: 60%;
  margin-bottom: none;
}

a:link {
  color: var(--beige);
}
a:visited {
  color: var(--white);
}
a:hover {
  color: var(--yellow);
}
a:active {
  color: var(--blue);
}

/*||blocks or components*/
header {
  display: flex;
  justify-content: center;
  padding: 0.3em;
  margin: 2em;
}
.header__img {
  max-width: 60%;
  height: auto;
  padding: none;
}

nav a:hover {
  background: var(--black);
}
nav > ul > li > a {
  color: var(--beige);
  margin-right: 50px;
  text-decoration: none;
  list-style: none;
  font-size: 1em;
}

.menu {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  background-color: var(--black);
  list-style: none;
  text-decoration: none;
  border-top: 0.18em solid var(--yellow);
  border-bottom: 0.18em solid var(--yellow);
}
.menu__links {
  list-style: none;
  text-decoration: none;
  height: 1.7em;
}

.menu__links a {
  list-style: none;
  text-decoration: none;
}

.menu__links:hover > .submenu {
  display: flex;
  flex-direction: column;
  position: relative;
  list-style: none;
  text-decoration: none;
  background-color: var(--black);
}
.submenu {
  display: none;
  text-decoration: none;
  list-style: none;
}
footer {
  background: var(--black);
  border-top: 0.2em solid var(--yellow);
  color: var(--beige);
  display: flex;
  flex-grow: 1;
  justify-content: space-evenly;
}
@media screen and (max-width: 500px) {
  .menu {
    flex-direction: column;
  }
}
